@model ApiDoc.Models.Leaf

<section>
<h3>Authentication</h3>
<p>
    @if (Model.RequiresAuthorization)
    {
        Write("Requires Authorization");
    }
    else if (Model.RequiresAuthentication)
    {
        Write("Requires Authentication");
    }
    else
    {
        Write("None");
    }
</p>
</section>

<section>
<h3>RequestData</h3>
<pre class="prettyprint">@{ Write(Model.SampleRequest ?? "-- None --"); }</pre>
</section>

<section>
<h3>ResponseData</h3>
<pre class="prettyprint">@{ Write(Model.SampleResponse ?? "-- None --"); }</pre>
</section>

<section>
<h3>Description</h3>
<p>@Html.Raw(Model.Description)</p>
</section>