* {
    box-sizing: content-box;
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;

}

input[type=button], input[type=submit] {
    padding: .1em .5em;
}

li {
    margin-left: 1em;
}

section {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: .5em;
    margin: .5em 0;
}

#body {
    margin: 0 auto 2em auto;
    width: 90%;
    padding: 0 1em 2em 1em;
    background-color: white;
    border: 1px solid #ccc;
}

nav {
    background-color: #DFD;
    margin-left: -1em;
    margin-right: -1em;
    margin-bottom: 1em;
    padding: .5em 1em;
    border-bottom: 1px solid #ccc;
}

.validation-summary-errors {
    margin: 1em 0;
    padding: .5em 1em;
    background-color: #FFCECE;
    border: 1px solid #C44;
}
.validation-summary-errors ul {
    list-style-type: none;
}

html {
    background-color: #f4f4f4;
}

table {
    border-collapse: collapse;
    margin: 1em;
}

del, ins {
    margin-left: .1em;
    margin-right: .1em;
    border-radius: .2em;
}

del {
    background-color: #FCB;
    border: 1px solid #DA8;
}

ins {
    background-color: #AFB;
    border: 1px solid #8D9;
    text-decoration: none;
}

td, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: .2em .5em;
}

.child {
    border: 1px solid #888;
    list-style-type: none;
    margin-left: 0;
    margin-top: 1em;
    padding: .5em;
    background-color: #f4f4f4;
    position: relative;
}

.container {
    border: 1px solid #888;
    padding: 1em;
}

.deleted {
    text-decoration: line-through;
    background-color: #ddd;
}

.itemAction {
    float: right;
    position: relative;
    top: -3.4em;
    width: 1.5em;
    height: 1.5em;
    margin: .5em;
    overflow: hidden;
    color: transparent;
    background-size: 3em 1.5em;
}

#edit {
    background-image: url(images/Cogs_Sprite.png);
}

#history {
    background-image: url(images/Clock_Sprite.png);
}

#delete {
    background-image: url(images/Trashcan_Sprite.png);
}

#revert {
    background-image: url(images/Revert_Sprite.png);
}

#deleteConfirmation {
    display: none;
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    height:100%;
    width:100%;
    z-index: 100;
    
    background-color: rgba(0,0,0, 0.4);
}

#deleteConfirmation div {
    margin: 5em auto;
    padding: 2em;
    width: 25em;
    background-color: white;
    border: 1px solid #888888;
}

#deleteConfirmation textarea {
    padding: .5em;
    margin: 1em 0;
    width: 100%;
    height: 10em;
}

.itemAction:hover {
    background-position: right;
}