@using ApiDoc.Models
@model Node

@{
    ViewBag.Title = "Create";
}

<h2>@ViewBag.Title</h2>

<h3>Create Branch</h3>
@using (Html.BeginForm("CreateBranch", "Wiki", new {parentId = Model.Id})){
    @Html.Partial("Chunks/CreateBranch", new Branch())
    <input type="submit" value="Create" />
}

<h3>Create Leaf</h3>
@* TODO make create method *@