@using ApiDoc.Models
@model Node

@{
    ViewBag.Title = "Create";
    var reference = new {path = ViewBag.Structure.Path};
}

<h1>Create Branch</h1>
@using (Html.BeginForm("CreateBranch", "Wiki", reference)){
    @Html.Partial("Chunks/CreateBranch", new Branch())
    <input type="submit" value="Create" />
}

<h1>Create Leaf</h1>
@using (Html.BeginForm("CreateLeaf", "Wiki", reference)) {
    @Html.Partial("Chunks/CreateLeaf", new Leaf())
    <input type="submit" value="Create" />
}