@using ApiDoc.Models

@{
    Node mdl = ViewBag.Structure.Last();
    ViewBag.Title = mdl.Title;

    Html.RenderPartial("ItemActions", mdl);
}

<h2>@ViewBag.Title</h2>

@if (mdl is Branch)
{
    Html.RenderPartial("Chunks/DisplayBranch", mdl as Branch);
}
else
{
    Html.RenderPartial("Chunks/DisplayLeaf", mdl as Leaf);
}